/*
 * The Cascading Style Sheet for the Android web pages.
 *
 * Organization of this file:
 * 		HTML Styles
 * 			- Turns off the damn default settings of various
 * 			HTML styles and creates the defaults for this
 * 			website.
 *
 * 		Classes
 * 			- Here I keep the classes all the stuff that
 * 			make my pages look the way they do.  Anything
 * 			that's reusable is kept here.
 *
 * 		ID's
 * 			- The unique styles that should only be used once
 * 			per page are here.  Lots of important stuff in this
 * 			section.  Eg: "header", "navbar".
 *
 *
 *
 * This file and all files on this website are Copyright Scott Morgan Biggs 2013.
 * Please be nice about using this material.
 *
 *
 * 		COLORS used
 * 		-----------
 *
 *	ivory				#fffff0
 *	black				#000
 *	dark_warm_gray		#504848
 *	darker_gray			#223
 *
 *
 *	android green		#95b435		The main color
 *	bright green		#acb903
 *	dark green			#4d620c
 *
 *	contrasting blue	#2b517c
 *
 *	contrasting orange	#bd8c38
 *
 *	contrasting purple	#8c2973
 *
 *		Text:
 *	dark blue text		#106		<h1>-<h6>
 *	cool gray text		#223		<p>
 */

/*****************************************/
/*	HTML STYLES
/*****************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	overflow-y: scroll;
	height: 100%;
}
body {
	font: 100% Helvetica, sans-serif;
	background-color: #fff;
	color: #fffff0;		/* ivory */
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	height: 100%;
	line-height: 1;
}

ul { list-style: none inside; }
p {
	font: 1.3em/1.3em;	/* defines fontsize and lineheight at same time*/
	margin-bottom: 1.3em;
}
h1 { font-size: 350%; }
h2 { font-size: 250%; }
h3 { font-size: 200%; }
h4 { font-size: 175%; }
h5 { font-size: 140%; }
h6 { font-size: 120%; }

h1 h2 h3 h4 h5 h6 {
	font-family: monospace;
	color: #106;		/* very dark blue */
	margin-bottom: .9em;
	line-height: 1em;
}

p { color: #223; }		/* slightly cool very dark gray */

a {
	outline: none;
	text-decoration: none;
	}
a img { border: none; }

/* The order of these is rather important */
a:link { color: #2b517c }		/* blue */
a:visited { color: #8c2973; }	/* purple */
a:hover { color: #95b435; }		/* android green */
a:active {color: #bd8c38; }		/* orange, when being depressed */


/****************************************/
/*	Classes								*/
/****************************************/

	/* Some basics */
.float_left {
	float: left;
}

.float_right {
	float: right;
	margin: 1em;
	margin-right: 0.5em;
}

.clear {
	clear: both;
}


/*
 *	Easy way to make a container stretch to hold an
 *	entire float.  To use:
 *		HTML
 *			<div id="some_container_id" class="clearfix">
 *			...
 *			</div>
 *
 *			<div class="some_container_class clearfix">
 *			...
 *			</div>
 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



/*
	Nice Box to organize thoughts
									*/
.box {
	margin: 5px 4px 10px 4px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #fff;
	line-height: 120%;
}


.box img {
	float:right;
	width:auto;
	border: 1px outset #bbb;
}


.box h1 { margin-bottom: 10px; }
.box h2 { margin-bottom: 9px; }
.box h3 { margin-bottom: 8px; }
.box h4 { margin-bottom: 8px; }
.box h5 { margin-bottom: 8px; }
.box h6 { margin-bottom: 7px; }



/****************************************/
/*	ID Selectors						*/
/****************************************/


/*		container
	Defines the entire display area.  Everything on this page is displayed
	within "container." 		*/
#container {
	width: 92%;			/* Fill 90% of the width of the viewport. */
/*	margin: 2% auto;	/* 10 pixel margin at top and bottom, and "auto"
						  makes sure that left and right are centered. */
	background-color: #fff;
	color: #223;		/* cool dark gray text */
	min-height: 100%;
	position: relative;
	margin: 0 auto -3em;	/* needs to match (negatively) the height in the footer */

}



/*	header
	------------------------------------ */

#header {
	font-family: monospace;	/* typewriter */
	color: #106;			/* dark blue text */
	background-color: #fff;
	text-align: right;
	width: 100%;
	overflow: auto;
}

#header_image {
	float:left;
	width:auto;
	height: 160px;
	margin:5px;
}


/*	navbar
	------------------------------------ */
#navbar {
	width: 85%;		/* width + padding-left = 100% */
	padding: 0;
	padding-left: 15%;
	float: left;
	margin: 0 0 3em 0;
	list-style: none;
	background-color: #e0e0e0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-radius: 5px;
}

#navbar li {
	float: left;
}

#navbar #selected {
	background: #fff;
}

#navbar li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #4d620c;		/* android dark green */
	border-right: 1px solid #ccc;
}

#navbar li a:hover {
	color: #7aa004;		/* android bright green */
	background-color: #f2f2f2;
}

#navbar #selected a:hover {
	color: #4d620c;
	background-color: #fff;
}


/*	main
	------------------------------------ */
#main {
	margin-top: 8px;
	padding: 1.3em;
	height: 100%;
	overflow: auto;		/* makes this container expand to include any child elements */
}


/*
 *	left_column
 */
#left_column {
	float: left;
	width: 40%;
}


/* ----- footer ----- */
#footer {
	margin: 8px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	font-size: 90%;
	line-height: 120%;
	font-family: Arial, Helvetica, sans-serif;

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3em;	/* needs to match the negative height in the container */
}
